## STATS 306 WI 2020, HW 4, _25 points_

Assigned: 03/23/2020

Due: 04/06/2020 at 11:59 pm (no credit for late submissions)

In [1]:
library(tidyverse)
library(nycflights13)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.2.1     ✔ purrr   0.3.3
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   1.0.0     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

### Problem 1, _5 points_

There are no right or wrong answers for this problem. I am just including it to make HW 4 a bit less stressful as we all continue to learn how to deal with the COVID-19 pandemic.

**(1)** List 5 things that made you smile last week! _1 point_

- sth that made you smile
- sth that made you smile
- sth that made you smile
- sth that made you smile
- sth that made you smile

**(2)** List 4 adjectives that describe your last week! _1 point_

- adj that describes your last week
- adj that describes your last week
- adj that describes your last week
- adj that describes your last week

**(3)** List 3 things you are looking forward to in the next week! _1 point_

- sth you look forward to
- sth you look forward to
- sth you look forward to

**(4)** List 2 things you learnt last week! _1 point_

- sth you learnt
- sth you learnt

**(5)** List 1 goal you have for next week! _1 point_

### Problem 2, _5 points_

In the code output below, don't worry about the greater than sign before `writeLines()`. That's just the R prompt that does not show up in jupyter. I included it below so that it is easy to figure out indentation levels across different lines.

 **(1)** Create a string and assign to the variable `beckett` such that `writeLines(beckett)` displays the following: _1 point_
 
```
> writeLines(beckett)
Ever tried. Ever failed. No matter.
Try Again. Fail again. Fail better.
-- Samuel Beckett
 ```

**(2)** Create a string and assign to the variable `covid19` such that `writeLines(covid19)` displays the following. Note that the whitespace before the numbers 1, 2, 3, etc. is supposed to be a tab character. _1 point_

```
> writeLines(covid19)
DO THE FIVE
Help stop coronavirus

	1. HANDS Wash them often
	2. ELBOW Cough into it
	3. FACE Don't touch it.
	4. SPACE Keep safe distance
	5. HOME Stay if you can
```

**(3)** Create a string and assign to the variable `drseuss` such that `writeLines(drseuss)` displays the following: _1 point_

```
> writeLines(drseuss)
The more you READ,
 the more you know,
  the more you LEARN,
   the more places
    you'll GO!
-Dr. Seuss
```

**(4)** Create a string and assign to the variable `its_all_greek_to_me` such that `writeLines(its_all_greek_to_me)` displays the following: _1 point_

```
> writeLines(its_all_greek_to_me)
The first three small greek letters are:
α, β, and γ.
The first three capital greek letters are:
Α, Β, and Γ.
```

_Hint:_ You can consult [the wikipedia page](https://en.wikipedia.org/wiki/List_of_Unicode_characters) containing a list of unicode characters.

**(5)**  Create a string and assign to the variable `escapes` such that `writeLines(escapes)` displays the following: _1 point_

```
> writeLines(escapes)
The most common are "\n", newline, and "\t", tab.
```

### Problem 3, _5 points_

**(1)** Here's code that creates an annoying tibble:

In [2]:
annoying <- tibble(
  `1` = 1:10,
  `2` = `1` * 2 + rnorm(length(`1`))
)

It's annoying because it uses **non-syntactic** names for its two variables.

Write the command to extract the variable called `1`. _1 point_

**(2)** Write the code to create a scatter plot with `1` on the x-axis and `2` on the y-axis. _2 points_

**(3)** Write the code to create a new column called `3` which is `2` divided by `1`. _1 point_

**(4)** Write the code to rename the columns to `one`, `two` and `three`. _1 point_

### Problem 4, _5 points_

**(1)** Use the `tribble` command to create a tibble called `salaries` that would print as follows: _2 points_

```
# A tibble: 3 x 3
  name    `2018` `2019`
  <chr>    <dbl>  <dbl>
1 Alice    60000  80000
2 Bob      55000  60000
3 Charlie  65000  70000
```

**(2)** Write a command using the `pivot_longer()` function to convert `salaries` to `salaries_tidy` that would print as follows: _1 point_

```
# A tibble: 6 x 3
  name    year  salary
  <chr>   <chr>  <dbl>
1 Alice   2018   60000
2 Alice   2019   80000
3 Bob     2018   55000
4 Bob     2019   60000
5 Charlie 2018   65000
6 Charlie 2019   70000
```

Write a command using the `pivot_longer()` function to convert `salaries` to `salaries_tidy2` that would print as follows: _2 points_

```
# A tibble: 6 x 3
  name    year  salary
  <chr>   <chr>  <int>
1 Alice   2018   60000
2 Alice   2019   80000
3 Bob     2018   55000
4 Bob     2019   60000
5 Charlie 2018   65000
6 Charlie 2019   70000
```

_Hint_: Observe the _types_ of the columns carefully.