In this notebook, we will learn about vectors in R.

* [Vector basics](#Vector-basics)
* [Special values](#Special-values)
* [Type conversions](#Type-conversions)
* [Recycling](#Recycling)
* [Naming and subsetting](#Naming-and-subsetting)
* [List basics](#List-basics)
* [List subsetting](#List-subsetting)

In [1]:
library(tidyverse)

Loading tidyverse: ggplot2
Loading tidyverse: tibble
Loading tidyverse: tidyr
Loading tidyverse: readr
Loading tidyverse: purrr
Loading tidyverse: dplyr
Conflicts with tidy packages ---------------------------------------------------
filter(): dplyr, stats
lag():    dplyr, stats

# Vector basics

R has two types of vectors:

1. Atomic vectors, of six types: logical, integer, double, character, complex, and raw. Integer and double vectors are collectively known as numeric vectors.
2. Lists, also called recursive vectors because lists can contain other lists.

Atomic vectors are **homogeneous**, while lists are allowed to be **heterogeneous**. 

There’s one other related object: `NULL` (that's what gets returned if your function doesn't return anything).

NULL denotes the absence of a vector (as opposed to `NA` which represents the absence of a value in a vector). NULL behaves like a vector of length 0.

In [2]:
typeof(letters)

[1] "character"

In [3]:
typeof(runif(10))

[1] "double"

In [4]:
typeof(1:100)

[1] "integer"

In [5]:
length(letters)

[1] 26

In [6]:
length(runif(10))

[1] 10

In [7]:
length(1:100)

[1] 100

In [8]:
x <- c(1, 2, 3, 4, 5) # numeric constants are of type double by default
typeof(x)

[1] "double"

In [9]:
x <- c(1L, 2L, 3L, 4L, 5L) # add 'L' at the end if you want integers
typeof(x)

[1] "integer"

# Special values

Logical and integer vectors only have one special values: `NA`.
Double vectors have fours: `NaN`, `Inf`, `-Inf`, and `NA`

In [10]:
1/0

[1] Inf

In [11]:
-1/0

[1] -Inf

In [12]:
sqrt(-1)

Warning message in sqrt(-1):
“NaNs produced”

[1] NaN

In [13]:
sqrt(Inf)

[1] Inf

In [14]:
sqrt(-Inf)

Warning message in sqrt(-Inf):
“NaNs produced”

[1] NaN

In [15]:
sqrt(NA)

[1] NA

In [16]:
sqrt(NaN)

[1] NaN

In [17]:
x <- c(Inf, -Inf, NaN, NA, 1, 0, 100)
is.finite(x)

[1] FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE

In [18]:
is.infinite(x)

[1]  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE

In [19]:
is.na(x)

[1] FALSE FALSE  TRUE  TRUE FALSE FALSE FALSE

In [20]:
is.nan(x)

[1] FALSE FALSE  TRUE FALSE FALSE FALSE FALSE

# Type conversions

In [21]:
as.logical(0:2)

[1] FALSE  TRUE  TRUE

In [22]:
as.integer(c("1", "2", "3"))

[1] 1 2 3

In [23]:
1:10 > 5

 [1] FALSE FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE

In [24]:
sum(1:10 > 5) # TRUE is converted to 1, FALSE to 0

[1] 5

When creating vectors using `c()`, the most complex type wins.

In [25]:
c(TRUE, FALSE, 1, 2)

[1] 1 0 1 2

In [26]:
typeof(c(1L, 2L, 3.4, 5.6))

[1] "double"

In [27]:
c(TRUE, 1, 1.1, "a")

[1] "TRUE" "1"    "1.1"  "a"

In [28]:
is.numeric(1:10)

[1] TRUE

In [29]:
is.numeric(runif(10))

[1] TRUE

In [30]:
is.numeric(letters)

[1] FALSE

The tidyverse package **purrr** has replacement functions, such as `is_numeric()`, that behave more consistently than base R functions, such as `is.numeric()`.

# Recycling

In [31]:
1 + 1:10

 [1]  2  3  4  5  6  7  8  9 10 11

In [32]:
1:3 + 1:10

Warning message in 1:3 + 1:10:
“longer object length is not a multiple of shorter object length”

 [1]  2  4  6  5  7  9  8 10 12 11

In [33]:
1:2 + 1:10

 [1]  2  4  4  6  6  8  8 10 10 12

In [34]:
stringr::str_c(letters, 1:13, LETTERS)

 [1] "a1A"  "b2B"  "c3C"  "d4D"  "e5E"  "f6F"  "g7G"  "h8H"  "i9I"  "j10J"
[11] "k11K" "l12L" "m13M" "n1N"  "o2O"  "p3P"  "q4Q"  "r5R"  "s6S"  "t7T"
[21] "u8U"  "v9V"  "w10W" "x11X" "y12Y" "z13Z"

# Naming and subsetting

In [35]:
x <- c(Alice = 50, Bob = 60, Charlie = 70)

In [36]:
print(x)

  Alice     Bob Charlie
     50      60      70

In [37]:
x["Alice"] # if named, can use character vector to subset

Alice
   50

In [38]:
x["Charlie"]

Charlie
     70

In [39]:
x[1] # integer vector can be used to subset, extracts by positions

Alice
   50

In [40]:
x[1:2]

Alice   Bob
   50    60

In [41]:
x[c(1,3)]

  Alice Charlie
     50      70

In [42]:
x[x > 50] # logical vector extracts elements correponding to TRUE

    Bob Charlie
     60      70

The operator `[[` extracts a single elements and always drops names

In [43]:
x[[1:2]]

ERROR: Error in x[[1:2]]: attempt to select more than one element in vectorIndex

In [44]:
x[[1]]

[1] 50

# List basics

Atomic vectors are created using `c()`, lists are created using `list()`.

In [45]:
x <- list(1, 2, 3)

In [46]:
print(x)

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

In [47]:
y <- list(1, 2, x)

In [48]:
print(y)

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[[3]][[1]]
[1] 1

[[3]][[2]]
[1] 2

[[3]][[3]]
[1] 3

In [49]:
str(y) # focus on structure, not contents

List of 3
 $ : num 1
 $ : num 2
 $ :List of 3
  ..$ : num 1
  ..$ : num 2
  ..$ : num 3

In [50]:
c(1, 2, c(1, 2, 3)) # nesting doesn't happen for atomic vectors

[1] 1 2 1 2 3

In [51]:
c(1, 2, TRUE, "true") # everything gets converted to character type

[1] "1"    "2"    "TRUE" "true"

In [52]:
list(1, 2, TRUE, "true") # can mix types in a list

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] TRUE

[[4]]
[1] "true"

In [53]:
str(list(1, 2, TRUE, "true"))

List of 4
 $ : num 1
 $ : num 2
 $ : logi TRUE
 $ : chr "true"

In [54]:
mylist <- list(num = 1:3, char = list("a", "b", "c"), logi = FALSE)

In [55]:
mylist

$num
[1] 1 2 3

$char
$char[[1]]
[1] "a"

$char[[2]]
[1] "b"

$char[[3]]
[1] "c"


$logi
[1] FALSE

In [56]:
str(mylist)

List of 3
 $ num : int [1:3] 1 2 3
 $ char:List of 3
  ..$ : chr "a"
  ..$ : chr "b"
  ..$ : chr "c"
 $ logi: logi FALSE

# List subsetting

In [57]:
mylist[c("logi", "num")] # subset using character vector

$logi
[1] FALSE

$num
[1] 1 2 3

In [58]:
mylist[1:2] # subset using integer vector

$num
[1] 1 2 3

$char
$char[[1]]
[1] "a"

$char[[2]]
[1] "b"

$char[[3]]
[1] "c"

In [59]:
mylist2 <- list(dbl = runif(10), na = NA)

In [60]:
mylist2

$dbl
 [1] 0.51475934 0.63831341 0.28299130 0.08727077 0.54249501 0.09237478
 [7] 0.32972263 0.49400892 0.11701059 0.45201341

$na
[1] NA

In [61]:
mylist2[!is.na(mylist2)] # logical subsetting

$dbl
 [1] 0.51475934 0.63831341 0.28299130 0.08727077 0.54249501 0.09237478
 [7] 0.32972263 0.49400892 0.11701059 0.45201341

`[[` extract a single elements. However, it **reduces** one level of hierarchy in the list.

In [62]:
str(mylist[1]) # two levels of nesting

List of 1
 $ num: int [1:3] 1 2 3

In [63]:
str(mylist[[1]]) # just one level

 int [1:3] 1 2 3

Finally `$` is just like `[[` except that it uses names and you don't need to supply quotes.

In [64]:
mylist$logi

[1] FALSE

In [65]:
mylist[['logi']]

[1] FALSE