In this notebook, we will cover:

* [Adding New Variables](#Adding-New-Variables)

Let us load up the `tidyverse` and `nycflights13` packages.

In [1]:
library(tidyverse)
library(nycflights13)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.2.1     ✔ purrr   0.3.3
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   1.0.0     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

# Adding New Variables

Let us zoom in on a few variables of interest.

In [2]:
my_flights <- select(flights, year:day, dep_time, arr_time, air_time, origin, dest)
head(my_flights)

  year month day dep_time arr_time air_time origin dest
1 2013 1     1   517       830     227      EWR    IAH
2 2013 1     1   533       850     227      LGA    IAH
3 2013 1     1   542       923     160      JFK    MIA
4 2013 1     1   544      1004     183      JFK    BQN
5 2013 1     1   554       812     116      LGA    ATL
6 2013 1     1   554       740     150      EWR    ORD

Additional variable can be added using the `mutate()` function. We already have an `air_time` variable. Let us compute the total time for the flight by subtracting the time of departure `dep_time` from time of arrival `arr_time`.

We notice something odd though. When we subtract 5h 17m from 8h 30m we should get 3h 13m, i.e. 193 minutes. But instead we get 313 minutes below.

In [3]:
mutate(my_flights, total_time = arr_time - dep_time) %>%
    head()

  year month day dep_time arr_time air_time origin dest total_time
1 2013 1     1   517       830     227      EWR    IAH  313
2 2013 1     1   533       850     227      LGA    IAH  317
3 2013 1     1   542       923     160      JFK    MIA  381
4 2013 1     1   544      1004     183      JFK    BQN  460
5 2013 1     1   554       812     116      LGA    ATL  258
6 2013 1     1   554       740     150      EWR    ORD  186

The issue is that `dep_time` and `arr_time` are in the hour-minute notation which is great to look at but not very useful for computations. We should first convert these times into the number of minutes elapsed since midnight.

We want add to new variables `new_dep` and `new_arr` but we need to write a function first that can do the conversion.

In [4]:
hourmin2min <- function(hourmin) {
    min <- hourmin %% 100 # quotient after division by 100
    hour <- (hourmin - min) %/% 100 # remainder after division by 100
    return(60*hour + min)
}

Let us test the function on 530. That's 5h 30min, i.e., 330 minutes since midnight.

In [5]:
hourmin2min(530)

[1] 330

The `hourmin2min` function is **vectorized**: given a vector, it outputs a vector.

In [6]:
hourmin2min(c(430,530,630,730))

[1] 270 330 390 450

R provides you with several in-built vectorized functions that can be used to create more complicated function. These include:

* **Arithmetic operators** `+, -, *, /, ^`
* **Modular arithmetic operators** `%/%` and `%%` 
* **Logarithms** `log()`, `log10()`, `log2()`
* **Offsets** `lag()` and `lead()`

In [7]:
5 / 3   # regular division
5 %/% 3 # integer division

[1] 1.666667

[1] 1

In [8]:
1:20 %% 5  # shorter argument 5 is extended to match length of longer argument

 [1] 1 2 3 4 0 1 2 3 4 0 1 2 3 4 0 1 2 3 4 0

In [9]:
near(1:10, exp(log(1:10))) # log to base e

 [1] TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE

In [10]:
near(1:10, 10^log10(1:10)) # log to base 10

 [1] TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE

In [11]:
log2(2^(1:10))  # log to base 2

 [1]  1  2  3  4  5  6  7  8  9 10

In [12]:
(x <- 1:10)
lag(x)
lead(x)

 [1]  1  2  3  4  5  6  7  8  9 10

 [1] NA  1  2  3  4  5  6  7  8  9

 [1]  2  3  4  5  6  7  8  9 10 NA

We also have:

* **Logical comparisons** `==, !=, <, <=, >, >=`
* **Cumulative aggregates** `cumsum(), cumprod(), cummin(), cummax()` (`dplyr` also provides `cummean()`)

In [13]:
1:10 < 11:20
1:10 < 5
21 < 11:20

 [1] TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE

 [1]  TRUE  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE

 [1] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE

In [14]:
(factorials <- cumprod(1:10))

 [1]       1       2       6      24     120     720    5040   40320  362880
[10] 3628800

Finally, we can use these **ranking** functions:

* `min_rank()`
* `row_number()`
* `dense_rank()`
* `percent_rank()`
* `cume_dist()`
* `ntile()`

In [15]:
(x <- sample(c(11, 12, 12, 14, 14, 14, 17, 21, 26, NA))) # returns a random permutation of the input
min_rank(x) # ranks with smallest value as rank 1
min_rank(desc(x)) # ranks with largest value as rank 1

 [1] 12 26 NA 21 14 17 14 11 12 14

 [1]  2  9 NA  8  4  7  4  1  2  4

 [1]  7  1 NA  2  4  3  4  9  7  4

In [16]:
dense_rank(x) # don't create gaps in ranks

 [1]  2  6 NA  5  3  4  3  1  2  3

In [17]:
row_number(x) # just return the position number in sorted order (ties get different ranks here)

 [1]  2  9 NA  8  4  7  5  1  3  6

In [18]:
percent_rank(x) # min_rank values are scaled to [0,1]

 [1] 0.125 1.000    NA 0.875 0.375 0.750 0.375 0.000 0.125 0.375

In [19]:
cume_dist(x) # fraction of entries less than or equal to a given number

 [1] 0.3333333 1.0000000        NA 0.8888889 0.6666667 0.7777778 0.6666667
 [8] 0.1111111 0.3333333 0.6666667

In [20]:
ntile(x, 4) # rough ranks based on using just 4 buckets

 [1]  1  4 NA  4  2  3  2  1  1  3

Let us now create two new variables obtained from `arr_time` and `dep_time` by converting them into minutes since midnight.

In [21]:
my_flights_new <- mutate(my_flights, new_arr = hourmin2min(arr_time), new_dep = hourmin2min(dep_time))
head(my_flights_new)

  year month day dep_time arr_time air_time origin dest new_arr new_dep
1 2013 1     1   517       830     227      EWR    IAH  510     317
2 2013 1     1   533       850     227      LGA    IAH  530     333
3 2013 1     1   542       923     160      JFK    MIA  563     342
4 2013 1     1   544      1004     183      JFK    BQN  604     344
5 2013 1     1   554       812     116      LGA    ATL  492     354
6 2013 1     1   554       740     150      EWR    ORD  460     354

Now we can subtract the departure time `new_dep` from the arrival time `new_arr` to get a new variable `total_time`.

In [22]:
my_flights_total <- mutate(my_flights_new, total_time = new_arr - new_dep)
head(my_flights_total)

  year month day dep_time arr_time air_time origin dest new_arr new_dep
1 2013 1     1   517       830     227      EWR    IAH  510     317
2 2013 1     1   533       850     227      LGA    IAH  530     333
3 2013 1     1   542       923     160      JFK    MIA  563     342
4 2013 1     1   544      1004     183      JFK    BQN  604     344
5 2013 1     1   554       812     116      LGA    ATL  492     354
6 2013 1     1   554       740     150      EWR    ORD  460     354
  total_time
1 193
2 197
3 221
4 260
5 138
6 106

How is it that the total time is less that the time in air for some flights? We are faced with time zone issues.

In [23]:
filter(my_flights_total, total_time < air_time) %>%
    head()

  year month day dep_time arr_time air_time origin dest new_arr new_dep
1 2013 1     1   517      830      227      EWR    IAH  510     317
2 2013 1     1   533      850      227      LGA    IAH  530     333
3 2013 1     1   554      740      150      EWR    ORD  460     354
4 2013 1     1   558      753      138      LGA    ORD  473     358
5 2013 1     1   558      924      345      JFK    LAX  564     358
6 2013 1     1   558      923      361      EWR    SFO  563     358
  total_time
1 193
2 197
3 106
4 115
5 206
6 205

We also have some negative values for total time for flight that departed late in the day and arrived early morning next day.

In [24]:
filter(my_flights_total, total_time < 0) %>%
    head()

  year month day dep_time arr_time air_time origin dest new_arr new_dep
1 2013 1     1   1929       3      192      EWR    BQN    3     1169
2 2013 1     1   1939      29       NA      JFK    DFW   29     1179
3 2013 1     1   2058       8      159      EWR    TPA    8     1258
4 2013 1     1   2102     146      199      EWR    SJU  106     1262
5 2013 1     1   2108      25      354      EWR    SFO   25     1268
6 2013 1     1   2120      16      160      LGA    FLL   16     1280
  total_time
1 -1166
2 -1150
3 -1250
4 -1156
5 -1243
6 -1264

We can fix the negative values by adding 24\*60 to them (we keep the positive values as is).

Note that `transmute()` will only keep the new variables.

In [25]:
no_negatives <- transmute(my_flights_total, arr_time, dep_time,
          new_total_time = (total_time < 0)*(total_time + 24*60) + (total_time >= 0)*total_time)
filter(no_negatives, new_total_time < 0)

     arr_time dep_time new_total_time

So that took care of the negative total time issue.